* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: Arial, Helvetica, sans-serif; //brought by darko
}

// Navigation Bar- CSS default reset

:root {
    --lightblue: #75a0cc;
    --red: #d64041;
  }
  
   
  a,
  a:hover {
    color: inherit;
  }
   
  a:hover {
    text-decoration: none;
  }
   
  .bg-lightblue {
    background: var(--lightblue);
  }
   
  .bg-red {
    background: var(--red);
  }
   
  .text-red {
    color: var(--red);
  }
   
  .container-fluid-max {
    max-width: 1440px;
    // max-width: 1840px;

  }
   
   // background-position: bottom; positioning our bg-image
  .cover {
    background: no-repeat bottom/cover;
  }
   
  .p-15 {
    padding: 15px;
  }



